# Python仮想環境内の特定のファイルを無視する
gemini/*.pyc
gemini/*.pyo
gemini/__pycache__/
gemini/bin/
gemini/include/
gemini/lib/
gemini/share/

# 仮想環境内の特定のファイルを無視する（一般的に変更されないファイル）
gemini/pyvenv.cfg
gemini/pyvenv.cfg.backup

# Springプロジェクトのビルド出力の無視
workspace/target/
workspace/build/

# springのapplication.propertiesファイルの無視
workspace/ask-chat/src/main/resources/application.properties

# Mavenプロジェクトの一般的なビルド出力の無視
*.log
*.tmp
*.swp

# Eclipseの設定フォルダとファイルの無視
workspace/.metadata/
workspace/.project
workspace/.classpath
workspace/.settings/
workspace/.classpath
workspace/.launch

# IntelliJ IDEAの設定フォルダとファイルの無視
workspace/.idea/
workspace/*.iml

# 一時ファイルの無視
*.DS_Store
*.env

# EclipseとIntelliJ IDEAの一時ファイルの無視
*.tmp
*.bak

# Mavenのローカルリポジトリの無視（リポジトリが大きい場合もある）
workspace/.mvn/

